[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/NeuralAmpModelerCore"]
	path = libs/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
